/*Header*/
#group {
    margin-top: 2em;
}

#head {
    margin-top: 2em;
    text-align: center;
}

#name {
    margin-top: 3em;
}

#logo {
    margin: 2em 0 0 0;
    width: 20%;
}

#helmet {
    width: 6%;
    display: inline;
}

#msu {
    width: 30%;
    display: inline;
}

#muscle_eqtl {
    margin-top: 1em;
    margin-right: 1em;
    float: left;
    width: 450px;
    height: 480px;
}

#member_head {
    clear: left;
}

#member {
    float: left;
    width: 180px;
    margin-right: 1em;
    margin-bottom: 1em;
}

#RNA_editing {
    margin: 0 0 0 0;
    float: right;
}

#SM_development {
    margin: 0 0 0 0;
    float: right;
}

#gene_assoc {
    margin: 0 0 0 0;
    float: right;
}

#meth {
    margin: 0 0 0 0;
    float: right;
}

/*Navigation bar*/
.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {
    background: #18453B !important;
}

/*Members and alumni*/
#bio {
    margin-top: 1em;
}

#alumni {
    clear: left;
}

/*Photos*/
figure {
    text-align: center;
    display: table;
    max-width: 50%; /* demo; set some amount (px or %) if you can */
    margin: 20px auto; /* not needed unless you want centered */
}

#lab_photo {
    width: 60%;
}
