/*Header*/
#group {
    margin-top: 2em;
}

#name {
    margin-top: 3em;
}

#logo {
    margin: 4em 0 0 0;
}

#helmet {
    width: 13%;
    display: inline;
}

#msu {
    width: 45%;
    display: inline;
}

/*Navigation bar*/
.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {
    background: #18453B !important;
}

/*Members and alumni*/
#bio {
    margin-top: 1em;
}

/*Photos*/
figure {
    text-align: center;
    display: table;
    max-width: 50%; /* demo; set some amount (px or %) if you can */
    margin: 20px auto; /* not needed unless you want centered */
}