---
layout: default
---

<a name="welcome"></a>
<h2 data-magellan-destination="welcome">Welcome</h2>
{% capture welcome %}{% include welcome.md %}{% endcapture %}
{{ welcome | markdownify }}

<a name="research"></a>
<h2 data-magellan-destination="research">Research</h2>
{% capture research %}{% include research.md %}{% endcapture %}
{{ research | markdownify }}

<!-- <a name="research"></a>
<h2 data-magellan-destination="research">Research</h2>
{% for research in site.research %}
  {{ research.output }}
{% endfor %} -->

<a name="members"></a>
<h2 data-magellan-destination="members">Members</h2>
{% for member in site.members %}
  {{ member.output }}
{% endfor %}

<a name="alumni"></a>
<h2 id='alumni' data-magellan-destination="alumni">Alumni</h2>
{% for member in site.alumni %}
  {{ member.output }}
{% endfor %}

<a name="publications"></a>
<h2 data-magellan-destination="publications">Selected Publications</h2>
{% capture publications %}{% include publications.md %}{% endcapture %}
{{ publications | markdownify }}

<a name="photos"></a>
<h2 data-magellan-destination="photos">Photos</h2>
{% for photo in site.photos %}
  {{ photo.output }}
{% endfor %}
