---
layout: default
---

<a name="welcome"></a>
<h2 data-magellan-destination="welcome">Welcome</h2>
{% capture welcome %}{% include welcome.md %}{% endcapture %}
{{ welcome | markdownify }}

<a name="research"></a>
<h2 data-magellan-destination="research">Research</h2>
{% capture research %}{% include research.md %}{% endcapture %}
{{ research | markdownify }}

<a name="publications"></a>
<h2 data-magellan-destination="publications">Publications</h2>
{% capture publications %}{% include publications.md %}{% endcapture %}
{{ publications | markdownify }}

<a name="members"></a>
<h2 data-magellan-destination="members">Members</h2>
{% for member in site.members %}
  {{ member.output }}
{% endfor %}

<a name="photos"></a>
<h2 data-magellan-destination="photos">Photos</h2>



<!-- The table below formats the thumbnails of the photo gallery -->
<table border="0" align="center" width="100%">
<caption>Please select a thumbnail to open the full-size image in a new window</caption>
<!-- Row 1 -->
<tr>
<td>
	<a href="/images/photos/Scott_Kaitlyn_ISAG_Rodeo.jpg" target="_blank">
		<img height=150px width=150px src="/images/photos/Scott_Kaitlyn_ISAG_Rodeo.jpg"> 
	</a>
</td>
<td>
	<a href="/images/photos/Kaitlyn_ISAG_Poster.jpg" target="_blank">
		<img height=150px width=150px src="/images/photos/Kaitlyn_ISAG_Poster.jpg">
	</a>
</td>
<td>
	<a href="/images/photos/Kaitlyn_ISAG_Poster_Award.jpg" target="_blank">
		<img height=150px width=150px src="/images/photos/Kaitlyn_ISAG_Poster_Award.jpg">
	</a>
</td>

</tr>
<!-- Row 2 -->
<tr>
<td>
	<a href="/images/photos/Matt_Charles_InLab.jpg" target="_blank">
		<img height=150px width=150px src="/images/photos/Matt_Charles_InLab.jpg">
	</a>
</td>
<td>
	<a href="/images/photos/ernst_raney.jpg" target="_blank">
		<img height=150px width=150px src="/images/photos/ernst_raney.jpg">
	</a>
</td>
<td>
	<a href="/images/photos/Ernst_Korea.jpg" target="_blank">
		<img height=150px width=150px src="/images/photos/Ernst_Korea.jpg">
	</a>
</td>
</tr>
<!-- Row 3 -->
<tr>
<td>
	<a href="/images/photos/ernst_lab_group_5yago.jpg" target="_blank">
		<img height=150px width=150px src="/images/photos/ernst_lab_group_5yago.jpg">
	</a>
	<figcaption></figcaption>
</td>
<td>
	<a href="/images/photos/" target="_blank">
		<img height=150px width=150px src="/images/photos/">
	</a>
	<figcaption></figcaption>
</td>
<td>
	<a href="/images/photos/" target="_blank">
		<img height=150px width=150px src="/images/photos/">
	</a>
	<figcaption></figcaption>
</td>
</tr>
</table>



<!-- Another option for formatting the photo gallery -->
<caption>A second option for formatting the photo gallery</caption>
<div class="row">
	<figure class="small-5 columns">
		<img src="/images/photos/Scott_Kaitlyn_ISAG_Rodeo.jpg">
		<figcaption>Kaitlyn and Scott at the ISAG Rodeo, Salt Lake City, UT, July 2016</figcaption>
	</figure>
	<figure class="small-5 columns">
		<img src="/images/photos/Kaitlyn_ISAG_Poster.jpg">
		<figcaption>Kaitlyn presenting her poster at ISAG, July 2016</figcaption>
	</figure>
</div>
<div class="row">
	<figure class="small-5 columns">
		<img src="/images/photos/Kaitlyn_ISAG_Poster_Award.jpg">
		<figcaption>Kaitlyn accepting the Excellent Poster Award from Dr. Joan Lunney at ISAG, July 2016</figcaption>
	</figure>
	<figure class="small-5 columns">
		<img src="/images/photos/Matt_Charles_InLab.jpg">
		<figcaption>Matt hard at work in the lab!</figcaption>
	</figure>
</div>
<div class="row">
	<figure class="small-5 columns">
		<img src="/images/photos/ernst_raney.jpg" style="height:300px;">
		<figcaption>Dr. Ernst and Nancy analyzing a gel in lab</figcaption>
	</figure>
	<figure class="small-5 columns">
		<img src="/images/photos/Ernst_Korea.jpg">
		<figcaption>Dr. Ernst visiting Korea</figcaption>
	</figure>
</div>
<div class="row">
	<figure class="small-5 columns">
		<img src="/images/photos/ernst_lab_group_5yago.jpg" style="height:300px;">
		<figcaption>The Ernst lab, circa xxxx</figcaption>
	</figure>
</div>

</div>

<a name="alumni"></a>
<h2 data-magellan-destination="alumni">Alumni</h2>
{% for member in site.alumni %}
  {{ member.output }}
{% endfor %}
