---
layout: default
---

<a name="welcome"></a>
<h2 data-magellan-destination="welcome">Welcome</h2>
{% capture welcome %}{% include welcome.md %}{% endcapture %}
{{ welcome | markdownify }}

<a name="research"></a>
<h2 data-magellan-destination="research">Research</h2>
{% capture research %}{% include research.md %}{% endcapture %}
{{ research | markdownify }}

<a name="publications"></a>
<h2 data-magellan-destination="publications">Publications</h2>
{% capture publications %}{% include publications.md %}{% endcapture %}
{{ publications | markdownify }}

<a name="members"></a>
<h2 data-magellan-destination="members">Members</h2>
{% for member in site.members %}
  {{ member.output }}
{% endfor %}

<a name="photos"></a>
<h2 data-magellan-destination="photos">Photos</h2>



<!-- <div class="img">
  <a target="_blank" href="/images/photos/Scott_Kaitlyn_ISAG_Rodeo.jpg">
    <img src="/images/photos/Scott_Kaitlyn_ISAG_Rodeo.jpg" alt="KSISAG" >
  </a>
  <div class="desc">Scott and Kaitlyn at the ISAG Rodeo, July 2016</div>
</div>

<div class="img">
  <a target="_blank" href="/images/photos/Kaitlyn_ISAG_Poster.jpg">
    <img src="/images/photos/Kaitlyn_ISAG_Poster.jpg" alt="KDISAG">
  </a>
  <div class="desc">Kaitlyn presenting her poster at ISAG, July 2016</div>
</div>

<div class="img">
  <a target="_blank" href="/images/photos/Kaitlyn_ISAG_Poster_Award.jpg">
    <img src="/images/photos/Kaitlyn_ISAG_Poster_Award.jpg" alt="KDISAGPA">
  </a>
  <div class="desc">Kaitlyn accepting the Excellent Poster Award, July, 2016</div>
</div>

<div class="img">
  <a target="_blank" href="/images/photos/Matt_Charles_InLab.jpg">
    <img src="/images/photos/Matt_Charles_InLab.jpg" alt="MCinLab">
  </a>
  <div class="desc">Matt hard at work in the lab!</div>
</div>

<div class="img">
  <a target="_blank" href="/images/photos/ernst_raney.jpg">
    <img src="/images/photos/ernst_raney.jpg" alt="NCinLab">
  </a>
  <div class="desc">Cathy and Nancy analyzing a gel in lab</div>
</div>

<div class="img">
  <a target="_blank" href="/images/photos/Ernst_Korea.jpg">
    <img src="/images/photos/Ernst_Korea.jpg" alt="CKorea">
  </a>
  <div class="desc">Cathy visiting Korea</div>
</div>

<div class="img">
  <a target="_blank" href="/images/photos/ernst_lab_group_5yago.jpg">
    <img src="/images/photos/ernst_lab_group_5yago.jpg" alt="CLab">
  </a>
  <div class="desc">The Ernst lab, circa xxxx</div>
</div>
 -->
<a name="alumni"></a>
<h2 data-magellan-destination="alumni">Alumni</h2>
{% for member in site.alumni %}
  {{ member.output }}
{% endfor %}
