<!DOCTYPE html>
<html>

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
      <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
      <link rel="stylesheet" href="{{ "/css/foundation.css" | prepend: site.baseurl }}">
    </head>

  <body>

    <header class="row">
        <div id="group" class="small-6 columns">
            <img src="/images/group_photo.jpg">
        </div>
        <div id="name" class="small-6 columns">
            <h1>Animal Genomics Lab</h1>
            <div id="info" class="small-12 columns">
                <h4>Principle Investigator: Catherine Ernst</h4>
                <p>
                    Anthony Hall</br>
                    474 S. Shaw Lane, Room 1205</br>
                    East Lansing, MI  48824</br>
                </p>
                <div id="logo">
                    <img id="helmet" src="/images/msu-helmet.png">
                    <img id="msu" src="/images/msu-logo.jpg">
                </div>
            </div>
        </div>
    </header>

    <nav data-magellan-expedition="fixed">
        <dl class="sub-nav">
            <dd data-magellan-arrival="welcome"><a href="#welcome">Welcome</a></dd>
            <dd data-magellan-arrival="research"><a href="#research">Research</a></dd>
            <dd data-magellan-arrival="publications"><a href="#publications">Publications</a></dd>
            <dd data-magellan-arrival="members"><a href="#members">Members</a></dd>
            <dd data-magellan-arrival="photos"><a href="#photos">Photos</a></dd>
            <dd data-magellan-arrival="alumni"><a href="#alumni">Alumni</a></dd>
        </dl>
    </nav>

    <section class="row">
        {{ content }}
    </section>

    <script src="{{ "/js/vendor/jquery.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/vendor/foundation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/vendor/foundation.magellan.js" | prepend: site.baseurl }}"></script>
    <script>
      $(document).foundation()
    </script>

  </body>

</html>
